.col {
    margin-bottom:10px;
}

.list-group-item {
  cursor: pointer
}

.list-group > .active {
  color:white;
  font-weight:bold;
  cursor:not-allowed;
}

@media(max-width:1280px) {
  .col {
    display: flex !important;
    justify-content: center !important;
  }
}
